/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}


* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; border: solid 1px black; }
#image { width: 50%; height: 100%; border: solid 1px black; text-align: center; }
#image #embryo_gif {width: 80%; height: auto; border: solid 1px black;}
#parameter th{ padding: 20px 10px;  border: solid 2px #0bd; }
#parameter td{ padding: 20px 10px;  border: solid 2px #0bd; }
#buttons { width: 100%; display: flex;  justify-content: center; border: solid 1px black; }
#buttons button { width: 100%; height: 50px; background: rgb(130, 224, 255); }
#buttons  #change{ width: 30%; border: solid 2px black; }
#buttons  #gifStart{ width: 30%; border: solid 2px black; }
#buttons #pushDispenser{ width: 30%; border: solid 1px black; }
#buttons #gifChange{ width: 30%; border: solid 1px black; }



/*メディアクエリ（PCファースト）*/
@media screen and (max-width: 950px){
  /*タブレット用CSS*/
}
@media screen and (max-width: 480px){
  /*スマホ用CSS*/
}

.spacer{
  height: 10px;
}

.graph{
  height: 400px;
  width: 100%;
  border: solid 1px red;

}