/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}


* { box-sizing: border-box; }
body { font: 13px Helvetica, Arial; height: 100vh; width: 100vw;}
#image { width: 50%; height: 50%; border: solid 1px blue; text-align: center; float: left;}
#image #embryo_gif {width: 80%; height: auto; border: solid 1px black;}
#parameter th{ padding: 20px 10px;  border: solid 2px #0bd; }
#parameter td{ padding: 20px 10px;  border: solid 2px #0bd; }
#buttons { width: 100%; display: flex;  justify-content: center; }
#buttons button { width: 100%; height: 50px; background: rgb(130, 224, 255);  }
#buttons #change{ width: 20%; border: solid 2px black; margin: 1px 0px;} 
#buttons #gifStart{ width: 20%; border: solid 2px black; margin: 1px 0px;}
#buttons #push{ width: 20%; border: solid 2px black; margin: 1px 0px;}
#buttons #reload{ width: 20%; border: solid 2px black; margin: 1px 0px;}

#graphs { height: 100%; width:50%; float: right; padding: 1% 1%;}
/* .sand { height: 1%; } */
.spacer { height: 2%; }
.graph  { height: 48%;  width: 98%; }


/*メディアクエリ（PCファースト）*/
@media screen and (max-width: 950px){
  /*タブレット用CSS*/
}
@media screen and (max-width: 480px){
  /*スマホ用CSS*/
}

